@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.tab {
    background-color: #FF3D00; 
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    display: inline-block;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}